@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav .c {
    font-size: 5px;
}

nav.black {
    background: rgb(0, 0, 0, 0.8);
    height: 80px;
    padding: 10px 80px;
}

nav {
    background: rgb(255, 255, 255, 0.8);
    height: 80px;
    padding: 10px 50px;
}

nav .logo {
    height: 80px;
    float: left;
    font-size: 3em;
    transition: .3s;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: #000;
}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}


nav ul li a {
    line-height: 20px;
    color: #151515;
    padding: 11px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    font-size: 19px;

}

nav.black ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}



@media screen and (max-width: 930px){

    .logo {
      padding:0;
    }
  
    .optional-menu{
      
    }
  
    .nav-wrapper{
      /* Creates the mobile navigation Overlay and covers viewport because it's set to fixed */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height:  100%;
      z-index: -1;
      background-color: #fff;
      opacity: 0;
      transition: all 0.2s ease;
    }
  
    .nav-wrapper ul {
      /* Places the Navigation Links in the center of page vertically */
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: block;
    }
  
    .nav-wrapper ul li{
      /* Removes nav items from being inline and stacks them */
      float: none;
      width:  100%;
      text-align: right;
      margin-bottom: 4.5rem;


    }
    
    /* Creates the transition effect on mobile */
  
    .nav-wrapper ul li:nth-child(1) a {
      transition-delay: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
      transition-delay: 0.3s;
    }
    .nav-wrapper ul li:nth-child(3) a {
      transition-delay: 0.4s;
    }
    .nav-wrapper ul li:nth-child(4) a {
      transition-delay: 0.5s;
    }
    .nav-wrapper ul li:nth-child(5) a {
      transition-delay: 0.6s;
    }
  
    .nav-wrapper ul li:not(:first-child){
      margin-left: 0;
    }
  
    .nav-wrapper ul li a{
      padding: 10px 24px;
      opacity: 0;
      color: #000;
      font-size:  2rem;
      letter-spacing: 10px;
      transform: translateX(-30px);
      transition: all 0.2s ease;
    }
  
    .nav-btn{
      /* Creates the mobile hamburger button and positions on the right side */
      position: fixed;
      outline: 0;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
    }
  
    .nav-btn i{
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px;
    }

    .nav-btn i.white {
        background: #fff;
    }
  
    .nav-btn i:nth-child(1){
      margin-top: 16px;
    }
    .nav-btn i:nth-child(2){
      margin-top: 4px;
      opacity: 1;
    }
    .nav-btn i:nth-child(3){
      margin-top: 4px;
    }
  
    #nav:checked + .nav-btn {
      transform: rotate(45deg);
    }
  
    #nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
    }
    
    #nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
    }
  
    #nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
    } 
  
    #nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
    }
  
    #nav:checked ~ .nav-wrapper{
      opacity: 1;
      z-index: 9;
    }
  
    #nav:checked ~ .nav-wrapper ul li a{
      opacity: 1;
      transform: translateX(0);
    }
    
    #nav:checked + .nav-btn i{
      background-color: #000;
    }
}

.hidden {
    display: none;
}

@media (max-width:380px) {
    .sec1 {
        padding-top: 180px;
    }

    .sec1 .componentLeft {
        width: 100%;
    }
}

@media (max-width:1920px) {
    .box {
        height: 300px;
    }
}












section.sec1 {
    position: sticky;
    width: 100%;
    height: 100vh;
    background: url(image/cover.jpg);
    background-size: cover;
    background-position: center;
    /*padding: 100px 2.5% 2.5% 0px;*/
    padding-top: 130px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    overflow: hidden;
}

section.sec2 {
    width: 100%;
    height: 100vh;
    background: url(image/food2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-right: 2.5%; 
    overflow: hidden;
}

.componentLeft {
    width: 50%;
    background: rgb(0, 0, 0, 0.1);
    padding: 20px;
    /*margin-left: 50px;*/
}

.componentLeft h1{
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
}

.componentRight {
    width: 45%;
    background: rgb(0, 0, 0, 0.1);
    padding: 20px;
    float: right;
    width: 45%;
    min-width: 357px;
}

.componentRight h1{
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

a:hover {
    text-decoration: none;
}
a {
    color: #000;
}

a.white {
    color: #fff;
}

.box {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.col {
    margin-bottom: 20px; 
}

.col-sm {
    margin-bottom: 20px; 
}

.col-md {
    margin-bottom: 20px; 
}

img {
    transition: .2s;
    max-width:50%;
    height:auto;
}

img:hover {
    max-width:60%;
    transition: .2s;
}

.footer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    display: block;
    box-sizing: border-box;
}

.button {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 95.5vh;
    margin:0 auto;
    width: 40vmin;
    min-width: 230px;
    text-align: center;
    color: #fff;
    background: lightblue;
    border-radius: 50px;
    padding: 8px 30px; 
}






