
@import url('https://fonts.googleapis.com/css?family=Kanit|Permanent+Marker|Prompt|Sriracha&display=swap');


html{
  scroll-behavior: smooth;
}
nav{
  padding: 23px 80px !important;
}
.btni{
  
  border: 2px solid white;
  color: #fff;
  font-size: large;
  padding: 1% 2% 0;
  background: none;
  transition: 0.5s;
  
}
.btni:hover{
  letter-spacing: 1em;
  padding: 1% 4% 0;
  transition: 0.5s;
  text-align: center;
}
.black{
  color: black ;
  border: 2px solid black;
}
.black:hover{
  color: black;
}

body {
  
    font-family: 'Kanit', sans-serif;
    width: 100%;
   
}
.cover {
    width: 100%;
    height: 80vh;
    
    font-family: 'Prompt', sans-serif;
    
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  filter: brightness(70%);
  transition-duration: 1s;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 1s;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('./asset/food-photographer3.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
#middletext{
  font-family: 'Sriracha', cursive;  
  color: #fff ;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#middletext h1{
  font-size: 5rem;
}
#middletext p{
  font-size: 1.5rem;
}
div.col-12.box{
  height: 100vh;
}
.m{
  height: 120vh;
  
}
#ingredient.row{
  
}



.text{
  font-family: 'Sriracha', cursive;  
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  
}
.text-m{
  font-family: 'Sriracha', cursive;  
  color: #fff;
  text-align: center;
  font-size: 1.3rem;

  /* position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 36vw;
  height: 13vh; */

  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head{
  font-size: 2rem !important;
  text-decoration: underline;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#point_pic{
  margin-left: 10%;
  width: 80%;
  border-radius: 10%;
  z-index: 1;
  
}
#logo_intro{
  filter: brightness(0) invert(1);
  width: 15vw;
  margin: 20%;
}
#logo_intro_big{
  filter: brightness(0) invert(1);
  width: 30vw;
}

section.introduce{
 
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom,  rgb(255, 255, 255) ,  rgb(109, 154, 177));
  font-family: 'Prompt', sans-serif;
  
}
#intro_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  border-radius:20px;
  
}
section.selection{
  position: relative;
}
img.card-img-top{
  height: 25vh;
}

.content {
    margin-top: 50px;
    
}



.content p , .content ol{
    width: 70%;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    font-family: cloud light;
}
.content h1{
    width: 70%;
    margin: 30px auto;
    text-align: justify;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Kanit', sans-serif;

}

/* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav .c {
    font-size: 5px;
}

nav.black {
    background: rgb(0, 0, 0, 0);
    height: 80px;
    padding: 10px 100px;
}

nav {
    background: rgb(255, 255, 255, 0.8);
    height: 70px;
    padding: 5px 80px;
}

nav .logo {
    padding: 10px 4px;
    height: 80px;
    float: left;
    font-size: 30px;
    transition: .3s;
    top: -5px;
    position: absolute;

}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    padding: 0;
    display: flex;
    position: relative;
}

nav ul li {
    list-style: none;
}

nav ul li a {
     font-family: 'Kanit', sans-serif;
    line-height: 60px;
    color: #151515;
    padding: 11px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: 20px;
}

nav.black ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a.active {
    background-image: linear-gradient(to right, #bb00ff 0%, #46d2d2 100%);
    border-radius: 6px;
    color: #fff;
    
} */

.card{
    font-family: 'Kanit', sans-serif;
    margin: 10%; 
    padding: 10%;
}
.footer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    
    display: block;
    box-sizing: border-box;
}
p{
  text-align: center;
}
/* #m_navbar{
    visibility: hidden;
  } */

@media screen and (max-width: 767.98px) { 
  #logo_intro_big, #logo_intro{
    filter: brightness(0) invert(1);
    width: 50vw;
  }
    div.card{
        width: auto !important; 
    }
    .content p , .content ol{
        width: 70%;
        margin: 30px auto;
        text-align: justify;
        font-size: 18px;
        line-height: 30px;
        font-family: cloud light;
    }
    .content h1{
        width: 70%;
        margin: 30px auto;
        text-align: justify;
        font-size: 30px;
        line-height: 35px;
        font-family: 'Kanit', sans-serif;
    }
    img.card-img-top{
      width: 60vw !important;
    }
    /* nav{
        visibility: hidden;
        display: none;
    }
    #m_navbar{
        visibility: visible;
    } */
    #middletext h1{
      font-size: 3rem;
    }
    #middletext p{
      font-size: 1.5rem;
    }
 }
 @media screen and (max-width: 930px){
  img.card-img-top{
    width: 28vw;
  }
  
}

#image {
    width: 173px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}